@* 
@{
    Layout = "_AuthLayout";
}
 *@

<link href="~/css/custom.scss" rel="stylesheet">
<div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column gap-4 align-items-center justify-content-center w-100 ">
        <a class="click-btn btn-style506 shadow p-lg-5" data-bs-toggle="modal" data-bs-target="#bd-example-modal-fr">
            Sign in as Freelancer
        </a>
        <a class="click-btn btn-style506H p-lg-5 shadow" data-bs-toggle="modal" data-bs-target="#bd-example-modal-hr">
            Sign in as hirer
        </a>
    </div>
</div>



@section Scripts {
    <script>
        var message = @Html.Raw(TempData["Result"])
        if(message)
        {
            Swal.fire({
            title: message.title,
            text: message.message,
            icon: message.error,
            confirmButtonText: 'OK'
             })
        }
    </script>
}

@await Html.PartialAsync("Partial/_freelancer.cshtml")
@await Html.PartialAsync("Partial/_hirer.cshtml")