@* 
@{
    Layout = "_AuthLayout";
}
 *@

<div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column gap-4 align-items-center justify-content-center w-100 ">
        <button class="text-center p-lg-5 rounded-3 shadow w-50 bg-white  border-0" type="button"  data-bs-toggle="modal" data-bs-target="#bd-example-modal-fr">
            <p class="user-select-none">Sign in as Freelancer</p>
        </button>
        <button class="text-center p-lg-5 rounded-3 shadow border-0 w-50 " type="button" data-bs-toggle="modal" data-bs-target="#bd-example-modal-hr">
            <p class="user-select-none">Sign in as hirer</p>
        </button>
    </div>
</div>


@await Html.PartialAsync("Partial/_freelancer.cshtml");
@await Html.PartialAsync("Partial/_hirer.cshtml");