@model RegisterDto<FreelancerUser>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="freelancer" id="bd-example-modal-fr" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 " id="freelancer">Freelancer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="Account" asp-action="registerfreelancer">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email</label>
                        <input type="text" class="form-control" asp-for=User.Email id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">User Name</label>
                        <input type="text" class="form-control" asp-for=User.UserName id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">What do you do?</label>
                        <input type="text" class="form-control" asp-for=User.Title id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Password</label>
                        <input type="text" class="form-control" required asp-for=Password id="recipient-name">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
