$background: #fafbff;
$button-width: 50%;
$border-radius: 10px;


.click-btn {
	display: flex;
	width: $button-width;
	height: 40px;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	line-height: 35px;
	border: none;

	border-radius: $border-radius;
	text-align: center;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	transition: all 0.35s;
	box-sizing: border-box;
}

.btn-style506 {
	$btn-color: #dd7e2a;
	position: relative;
	border-color: $btn-color;
	color: $btn-color;
	overflow: hidden;
	cursor: pointer;

	&::before {
		width: 20%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: $btn-color;
		transform: rotateZ(-45deg) translate(-50%, -50%);
		transition: all 0.3s;
		content: "";
		z-index: -1;
	}

	&:hover {
		color: #fff;

		&::before {
			width: 100%;
			top: 0;
			transform: none;
		}
	}
}

.btn-style506H {
	$btn-color: blue;
	position: relative;
	border-color: $btn-color;
	color: $btn-color;
	overflow: hidden;
	cursor: pointer;

	&::before {
		width: 20%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: $btn-color;
		transform: rotateZ(-45deg) translate(-50%, -50%);
		transition: all 0.3s;
		content: "";
		z-index: -1;
	}

	&:hover {
		color: #fff;

		&::before {
			width: 100%;
			top: 0;
			transform: none;
		}
	}
}